<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="OrdiniWeb_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<!-- CRM_DrG project connections -->
		<add name="Conn_CRM" connectionString="Server=192.168.10.31,1433;Initial Catalog=CRM_DrGiorgini;User ID=utente.web;Password=Arpanet987!;TrustServerCertificate=true;Packet Size=32767" providerName="Microsoft.Data.SqlClient" />
		<add name="Conn_OrdiniWeb" connectionString="Server=192.168.10.31,1433;Initial Catalog=OrdiniWeb3;User ID=utente.web;Password=Arpanet987!;TrustServerCertificate=true;Packet Size=32767" providerName="Microsoft.Data.SqlClient" />
		<add name="Conn_Interoperabilita" connectionString="Server=192.168.10.31,1433;Initial Catalog=interoperabilita;User ID=utente.web;Password=Arpanet987!;TrustServerCertificate=true;Packet Size=32767" providerName="Microsoft.Data.SqlClient" />
		<add name="Conn_BCDataMerge" connectionString="Server=192.168.10.31,1433;Initial Catalog=BCDataMerge;User ID=utente.web;Password=Arpanet987!;TrustServerCertificate=true;Packet Size=32767" providerName="Microsoft.Data.SqlClient" />
		<add name="Conn_BCData" connectionString="Data Source=SERVERSQL-1\SQL2017PROD;Initial Catalog=BCSERVICE_PROD;Persist Security Info=True;User ID=paolo.lanzoni;Password=!EKmlP34g2" providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="nomeProg" value="CRMUO" />
	</appSettings>
 <userSettings>
  <OrdiniWeb_WPF.Properties.Settings>
   <setting name="UltimoUtente" serializeAs="String">
    <value />
   </setting>
   <setting name="RicordaUtente" serializeAs="String">
    <value>False</value>
   </setting>
  </OrdiniWeb_WPF.Properties.Settings>
 </userSettings>
</configuration>
